node_modules/
.env
.env.local
.env.*
*.env
certs/
*.pem
*.key
app.log
backend/.dev
backend/app.log
backend/app-behaviour.log
backend/detailed-requests.log
backend/http-requests.log
backend/src/NOTES.txt
backend/errors.log
backend/redis.log
backend/uploads
/uploads
dist
migrate-atlas-to-local.ts
notes.txt
tsconfig.tsbuildinfo
backend/src/scripts/stress-test.ts
notes.md
tsconfig.test.tsbuildinfo
docs/
docker-compose-dev.yml
*pull-audit-archives.ps1
.vscode
backend/audit/logs/*
backend/audit/archives/*
backend/audit-logs/*
*ascendance-audit-seal.service
*ascendance-audit-seal.timer
*/pdfs
