node_modules/
.env
.env.local
.env.*
certs/
*.pem
*.key
app.log
backend/.dev
backend/app.log
backend/app-behaviour.log
backend/detailed-requests.log
backend/http-requests.log
backend/src/NOTES.txt
backend/errors.log
backend/redis.log
backend/uploads
frontend/.env
/uploads
dist
migrate-atlas-to-local.ts
notes.txt
tsconfig.tsbuildinfo
backend/src/scripts/stress-test.ts
notes.md
tsconfig.test.tsbuildinfo
docs/
backend/audit/
audit-logs/
*pull-audit-archives.ps1